apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
controlPlaneEndpoint: "{{ .Endpoint }}"
controllerManager:
  extraArgs:
    flex-volume-plugin-dir: "/var/lib/kubelet/volumeplugins/"
networking:
  serviceSubnet: "10.96.0.0/12"
  podSubnet: "10.244.0.0/16"
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: cgroupfs
volumePluginDir: /var/lib/kubelet/volumeplugins/
---
apiVersion: kubeadm.k8s.io/v1beta3
{{- if eq .Verb "init" }}
kind: InitConfiguration
nodeRegistration:
  name: "{{ .Hostname }}"
  criSocket: "/var/run/containerd/containerd.sock"
  taints: null
{{- else }}
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ .Endpoint }}"
    token: "{{ .Token }}"
    {{- if .TokenCaCertHash }}
    caCertHashes:
    - "{{ .TokenCaCertHash }}"
    {{- end }}
    unsafeSkipCAVerification: true
  {{- if eq .Role "control-plane" }}
  controlPlane:
    certificateKey: "{{ .CertKey }}"
  {{- end }}
nodeRegistration:
  name: "{{ .Hostname }}"
  criSocket: "/var/run/containerd/containerd.sock"
  taints: null
{{- end }}
  kubeletExtraArgs:
    container-runtime: "remote"
    container-runtime-endpoint: "/var/run/containerd/containerd.sock"
    volume-plugin-dir: "/var/lib/kubelet/volumeplugins/"
    cni-bin-dir: "/usr/local/lib/cni"
